* {
  box-sizing: border-box;
}

* button {
  cursor: pointer;
  @include btn();
}

html {
  font-family: roboto, sans-serif;
  font-weight: 400;
  color: $main-text-gray;
  line-height: lh(21px);
  font-size: 14px;
}

body {
  overflow: hidden;
  margin: 0;
  // overflow-x: hidden;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto, sans-serif;
  font-weight: 500;
  margin: 0 0 1rem;
  line-height: lh(40px, 29px);
}

h1 {
  font-size: rem(32px);
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: rem(16px);
  font-weight: bold;
  margin: 0;

  // text-transform: uppercase;
}

img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.spacer {
  border-bottom: 1px solid;
  border-color: rgb(208, 212, 228);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
}

div.smooth-dnd-container.vertical
  > div.smooth-dnd-draggable-wrapper {
  overflow: unset;
  display: block;
}
.smooth-dnd-container.horizontal
  > .smooth-dnd-draggable-wrapper {
  overflow: unset;
}

.white-link {
  color: white;
  font-size: 20px;
}

.small-number {
  display: inline-block;
  position: relative;
  background-color: black;
  color: $main-white;
  font-size: 12px;
  top: -10px;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  line-height: 25px;
  border-radius: 20px;
  object-fit: contain;
  margin: 0 -4px;

  &.sum {
    top: 0;
    text-align: center;
  }
}
