* {
  box-sizing: border-box;
}

* button {
  cursor: pointer;
}

html {
  font-family: roboto, sans-serif;
  font-weight: 400;
  color: $main-text-gray;
  line-height: lh(21px);
  font-size: 14px;
}

body {
  overflow: hidden;
  margin: 0;
  // overflow-x: hidden;
}
p{
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto, sans-serif;
  font-weight: 500;
  margin: 0 0 1rem;
  line-height: lh(40px, 29px);
  
}

h1 {
  font-size: rem(32px);
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: rem(16px);
  font-weight: bold;
  margin: 0;

  // text-transform: uppercase;
}

img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.spacer{
  border-bottom: 1px solid;
  border-color: rgb(208, 212, 228);
}

::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  background: #f1f1f1;

}
::-webkit-scrollbar-thumb {
  background:  #b2b2b2;
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2
}

