@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  // src: url('../../assets/fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: Sofia;
  src: url('//fonts.cdnfonts.com/css/sofia-pro');
}
