.add-task {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: white;
  opacity: 0.8;
  position: relative;
  z-index: 10;
  overflow: unset;
  padding-right: 11px;
  width: 1343px;

  form {
    position: sticky;
    left: 46px;
    display: flex;
    justify-content: space-between;
    transform: translate(0);
    .left-indicator-inner {
      width: 7px;
      display: inline-block;
      transition: opacity 0.1s ease;
    }

    input {
      flex: 0 1;
      width: 1343px;
      height: 35px;
      padding-left: 20px;
      border-right: none;
      border: 0.5px solid $main-gray;
      &:hover {
        border: 0.5px solid rgb(50, 51, 56);
        border-right: none;
      }
      &:focus form {
        @include blue-focus;
      }
    }

    button {
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background-color: #fff;
      background-color: $primary-blue-hover;
      color: $main-white;
      transition: opacity 0.1s ease;
      padding: 0 12px;
      outline: none;
    }
    button.focus {
      opacity: 1;
      pointer-events: all;
    }
  }
  .right-indicator-inner {
    // width: 38px;
    border-right: 8px $main-task-end-line solid;
    background-color: $main-task-gray;
    border-left: 1px $main-white solid;
    border-bottom: 1px $main-white solid;
  }
  .task-menu-arrow {
    // background-color: aqua;
    position: absolute;
    width: 46px;
    left: -46px;
    height: 100%;
    display: flex;
  }
}
