.board-group {
  padding: 0 0 0 30px;
  line-height: 35px;
  color: $group-header-gray;
  margin-bottom: 30px;

  // cursor: pointer;
  width: 100%;
  .fa-grip-vertical {
    color: $main-gray;
    margin-right: 10px;
  }
  .table-head-wrapper {
    // FOR STICKY GROUP HEADER - ASK ASI ABOUT STICK-RELATIVE-ABSOLUTE RELATIONSHIP ////
    position: sticky;
    left: 0;
    overflow: unset;

    top: 0;
    z-index: 20;
    display: flex;
    // width: 100%;
    .table-head {
      display: flex;
      background-color: #fff;
      // border-bottom: 1px $main-gray solid;
      font-size: 14px;
      text-align: center;
      .context-modal {
        left: -30px;
        top: 35px;
      }
      .group-menu-open {
        // width: 30px;
        position: absolute;
        left: -30px;
        height: 18px;
        i {
          border-radius: 50%;
        }
        &:hover {
          border-radius: 50%;
          background-color: $grey-background-color;
        }
      }
    }
  }

  // GROUP COLOR

  .group-color-pallete {
    position: absolute;
    top: 40px;
    width: 142px;
    line-height: 0px;
    background-color: $main-white;
    box-shadow: 2px 3px 8px -2px rgba(0, 0, 0, 0.36);

    .group-color-item {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      margin: 3px;
    }
  }

  // Group Header

  .group-title {
    padding: 0;
    width: 100%;
    max-height: 100%;

    &:hover {
      border: 1px dashed $main-gray;
      padding: 2px;
      cursor: text;
    }
    .editable-cmp {
      width: 100%;
      height: 100%;
      margin: auto 0;
      padding: 0 2px;
      outline: none;
      cursor: text;
    }
  }

  .drag-task {
    transition: transform 0.1s ease;
    transform: rotate(2deg);
  }

  font-size: 13px;
  vertical-align: middle;
  line-height: 40px;
}

.member-picker-col {
  width: 98px;
  text-align: center;

  &:hover {
    background-color: $main-task-gray;
  }
}

.th-title {
  position: sticky;
  left: 46px;
  height: 40px;
  width: 334px;
  text-align: left;
  font-size: 18px;
  padding: 0 2px;
}

.timeline-picker-col {
  width: 178px;
}

.tag-picker-col,
.file-picker-col,
.number-picker-col,
.priority-picker-col {
  &:not(:first-child) {
    height: 34px;
  }
  width: 140px;
  text-align: center;
  background-color: $main-white;

  .small-number {
    position: absolute;
    right: 1px;
    top: 5px;
    z-index: 5;
  }
}

.tag-picker-col,
.file-picker-col {
  &:not(:first-child) {
    background-color: $main-task-gray;
  }
}

.th-header {
  position: relative;
  height: 100%;
  cursor: grab;
  .cols-drag-handle {
    position: absolute;
    left: calc(10% - 4px);
    top: 50%;
    opacity: 0;
    transition: opacity 0.1s ease;
    transform: translateY(-50%);
    cursor: move;
  }

  .sort-col-btn {
    position: absolute;
    display: block;
    top: -12px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: $main-white;
    border: 1px solid $main-gray;
    border-radius: 20px;
    box-shadow: 2px 3px 8px -2px rgba(0, 0, 0, 0.36);
    opacity: 0;

    i {
      font-size: 14px;
      position: absolute;
      opacity: 0;
      transform: translate(-45%, 15%);
    }
  }
  &:hover {
    background-color: $main-task-gray;

    .sort-col-btn {
      opacity: 1;
      &:hover {
        background-color: $primary-blue;
        i {
          color: $main-white;
        }
      }
    }
    i {
      opacity: 1;
    }
  }
  text-align: center;

  .cmp-title {
    &:hover {
      border: 1px dashed $group-header-gray;
      cursor: text;
      line-height: 30px;
      margin-top: 4px;
      // padding: 2px 2px;
    }

    input {
      width: 100%;
      text-align: center;
      border: 1px $main-gray solid;
    }
  }
}

.task-and-side-indicator {
  display: flex;
  height: 35px;
  .right-indicator-inner {
    width: 38px;
    border-right: 8px $main-task-end-line solid;
    background-color: $main-task-gray;
    border-left: 1px $main-white solid;
    border-bottom: 1px $main-white solid;
  }
}
