.board-view-mode {
  padding: 0 28px 2px;
  color: $main-text-gray;
  a {
    @include btn(em(7px) em(16px));
    color: $main-task-text-gray;
    height: 40px;
  }
  .upsidedwon {
    transform: rotate(180deg);
  }

  .router-link-exact-active {
    border-bottom: $primary-blue 2px solid;
  }
}
