.board-header {
  padding: 16px 30px 0;
  .description-line {
    padding: 2px;
    margin-bottom: 5px;
  }

  .btn {
    border: 1px solid rgb(133, 133, 133);
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    color: $main-task-text-gray;
  }
  button {
    color: $main-task-text-gray;
    @include btn();
  }
  .editable-header {
    cursor: text;
    &:hover {
      outline: 1px solid $main-task-end-line;
      border-radius: 2px;
    }
  }
  .up-header {
    display: flex;
    justify-content: space-between;
    .board-name {
      display: flex;
      gap: 10px;
      align-items: center;
      h1 {
        letter-spacing: -0.05em;
        @media (max-width: 1440px) {
          font-size: rem(24px);
        }
      }
      .star {
        color: #ffcb00;
      }
      .info {
        color: #676879;
      }
      .star,
      .info {
        @include btn(4px 8px);
      }
    }
  }
  .description-line {
    .group-description-header {
      span {
        width: 400px;
      }
    }
    .text-content {
      &:hover {
        border: 1px dashed $main-gray;
      }

      &:focus {
        // padding: 20px;
      }
    }
  }
  .main-board-title-input {
    &:focus {
      @include blue-focus;
      width: 700px;
    }
  }

  .board-header-right {
    line-height: 44px;
    vertical-align: middle;
    .fa-ellipsis {
      font-size: 22px;
    }
    .btn {
      margin: 4px 8px;
    }
  }
}
