.board-view-mode {
  padding: 0 28px;
  color: $main-text-gray;
  button {
    @include btn(em(7px) em(16px));
    color: $main-task-text-gray;
  }
  .upsidedwon {
    transform: rotate(180deg);
  }
}
