.board-nav {
  width: 245px;
  background-color: $grey-background-color;
  border-right: 1px $main-gray solid;
  padding: 12px 16px;
  .bord-title {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    &:hover {
      background-color: #dcdfec;
    }
    button{
      padding: 0;
      font-size: rem(20px);
    }
  }
  .workspace-dropdwon{
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #676879;;
    border-radius: 4px;
  }

  button{
    @include btn()
  }

}
