.board-group {
  padding: 0 0 0 30px;
  line-height: 35px;
  color: $group-header-gray;

  > div {
    border: 1px white solid;
  }

  .table-head {
    display: flex;
    border-bottom: 1px $main-gray solid;
    font-size: 14px;
    text-align: center;
  }

  font-size: 13px;
  vertical-align: middle;
  line-height: 40px;
}

.member-picker-col {
  width: 98px;
  text-align: center;
}

.th-title {
  width: 262px;
  text-align: left;
  font-size: 18px;
  padding: 0 2px;
}

.timeline-picker-col {
  width: 178px;
}

.tag-picker-col,
.file-picker-col,
.priority-picker-col {
  text-align: center;
  width: 130px;
}

.file-picker-col {
  text-align: center;
  button {
    @include btn();
    font-size: 16px;
    color: $primary-blue;
  }
}
