.board-header{
    .up-haeder{
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            gap: 10px;
            align-items: center;
            p{
                margin: 0;
            }
            h1{
                margin: 0;
            }
        }
    }
}