.filter-bar {
  display: flex;
  padding: 16px 30px;
  margin-bottom: 18px;
  color: $main-task-text-gray;
  align-items: center;
  
  button {
    @include btn();
    color: $main-task-text-gray;
  }
  .new-item-btn {
    background-color: $primary-blue;
    color: $main-white;
    padding: 4px 8px;
    margin: 0;
    height: 32px;
    &:hover {
      background-color: $primary-blue-hover;
    }
  }

  img {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: 3px solid rgb(204, 203, 203);
    border-radius: 50%;
    object-fit: contain;
    margin: 0 4px;
    &.active{
      border-color: orange;
    }
  }

  .search-btn{
    img {
      height: 18px;
      width: 18px;
      border: none;
    }
    background-color: $primary-light-blue;
    
    &:hover{
      background-color: $primary-light-blue;
    }
      
  }

  .new-item-btn-container {
    display: flex;
    align-items: center;
  }

  .new-item {
    border-radius: 4px 0 0 4px;
  }
  .chevron {
    border-radius: 0 4px 4px 0;
    border-left: 1px solid $primary-blue-hover;
  }

  .relative{
    position: relative;
  }

  .context-modal{
    text-align: center;
    left: -160px;
    top: 30px;
    }

    .members{
      margin: 10px 0;
    }


}
