.file-picker-col {
  position: relative;
  text-align: center;

  .btn {
    @include btn();
    font-size: 16px;
    color: $primary-blue;
    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }
  }
  .btn.haveSome {
    position: absolute;
    left: 5px;
  }
  .context-modal {
    width: 130px;
    position: absolute;
    z-index: 1000;
    top: 35px;
    left: 8px;
    text-align: left;

    // label {
    //   line-height: 44px;
    //   text-align: center;
    // }
  }

  .file-preview {
    height: 24px;
    width: 17px;
  }

  img {
    object-fit: contain;
    height: 24px;
    width: 20px;
    margin-top: 5px;
  }

  .upload-select {
    @include btn();
    text-align: center;
  }
}
