.filter-bar {
  display: flex;
  padding: 16px 30px;
  button{
    @include btn()
  }
  .new-item-btn {
    background-color: $primary-blue;
    color: $main-white;
    padding: 4px 8px;
    margin: 0;
    height: 32px;
    &:hover {
      background-color: $primary-blue-hover;
    }
  }

  .new-item-btn-container{
    display: flex;
    align-items: center;
  }

  .new-item{
    border-radius: 4px 0 0 4px;
  }
  .chevron{
    border-radius: 0 4px 4px 0;
    border-left: 1px solid $primary-blue-hover ;
  }
  
}
