.filter-bar {
  margin: 0 10px 0 10px;
  font-size: 14px;
  color: $main-text-gray;

  .new-item-btn {
    background-color: $primary-blue;
    color: $main-white;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 10px;
  }

  button {
    margin: 0 5px;
  }
}
