.main-nav {
  padding: 12px 11px;
  background-color: $main-nav-dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;


  .logo {
    cursor: pointer;
    height: 44px;
    width: 40px;
    margin-bottom: 8px;
    margin-left: 2px;
  }

  a {
    color: beige;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
  
  .svg-wrapper{
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    outline: none;
    color: white;
    margin-bottom: 8px;
    &:hover {
      background-color: $main-nav-dark-blue-hover;
    }
  }

  .svg-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0  0  0 5px;
  }

  
  .img-container{
    height: 44px;
    width: 44px;
    img{
      // wi
      border-radius: 50%;
      border: 2px solid #292f4c;   
         // margin: 8px;
         transition: background-color 100ms ease;
                &:hover {
                    transform: scale(0.85);
                }
                &:active {
                    opacity: 0.8;
                }
                &:focus-visible {
                    outline: -webkit-focus-ring-color auto 1px;
                }

    }
  }
}
