.main-nav {
  padding: 12px 12px;
  background-color: $main-nav-dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .logo {
    cursor: pointer;
    height: 44px;
    width: 40px;
  }

  a {
    color: beige;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
  span {
    padding: 8px;
    color: white;
    margin: 0 0 8px;
    width: 36px;
    text-align: center;
    border-radius: 6px;
    height: 36px;
    svg {
      margin: auto;
      height: 23px;
    }
    &:hover {
      background-color: $main-nav-dark-blue-hover;
      // width: 36px;
    }
  }
}
