.member-picker-col {
  text-align: center;
  justify-content: space-between;
  position: relative;
  border: 1px white solid;

  .add-tag {
    opacity: 0;
    display: inline-block;
    flex-basis: 1;
  }
  &:hover {
    .add-tag {
      color: $primary-blue;
      cursor: pointer;
      opacity: 1;
    }
  }
  input {
    line-height: 24px;
    border: none;
  }

  img {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 20px;
    object-fit: contain;
    margin: 0 -4px;
  }

  .context-modal {
    width: 248px;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;

    label {
      line-height: 44px;
      text-align: center;
    }
  }
  .test {
    .people {
      padding: 10px;
      position: relative;
      left: 87px;
      background-color: white;
    }
    &::before {
      content: "";
      height: 1px;
      background-color: #c5c7d0;
      position: absolute;
      left: 50px;
      right: 50px;
      top: 70px;
    }
  }

  .member-preview {
    gap: 13px;
    padding: 4px 8px;
    align-items: center;
    line-height: 20px;
    vertical-align: middle;
    width: 230px;

    &:hover {
      background-color: $primary-blue;
      border-radius: 5px;
    }
  }
}
