.task-preview {
  display: flex;
  border-bottom: 1px $main-gray solid;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  background-color: $main-task-gray;
  // padding: 0 0 0 30px;

  &:hover {
    background-color: $main-hover-gray;
    .edit-title-btn {
      opacity: 1;
      pointer-events: all;
      &:hover {
        background-color: #fefefe;
      }
    }
  }

  .timeline-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    label.timeline {
      height: 22px;
      line-height: 22px;
      width: 155px;
      border-radius: 1rem;
      color: white;
      text-align: center;
    }
  }
}
