.task-preview {
  display: flex;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  background-color: $main-task-gray;
  font-weight: 500;
  color: $main-task-text-gray;
  border-bottom: 1px $main-gray solid;
  // width: 2000px;
  border-bottom: 1px solid white;


  &:hover {
    background-color: $main-hover-gray;
  }

  .timeline-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    label.timeline {
      height: 22px;
      line-height: 22px;
      width: 155px;
      border-radius: 1rem;
      color: white;
      text-align: center;
    }
  }
}
