.task-preview {
  display: flex;
  border-bottom: 1px $main-gray solid;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  .timeline-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    label.timeline {
      height: 22px;
      line-height: 22px;
      width: 155px;
      border-radius: 1rem;
      color: white;
      text-align: center;
    }
  }
}
