.title-picker {
  cursor: pointer;
  display: flex;
  justify-content: left;
  width: 334px;
  position: relative;
  // for making the title picker column sticky
  // and overlay when scrolling to the right
  // position: sticky;
  // left: 0;
  // z-index: 10;
  padding-right: 8px;
  .left-indicator-inner {
    width: 8px;
    display: inline-block;
    transition: all 0.1s ease;
    &:hover {
      width: 24px;
    }
  }

  .editable-component {
    width: 260px;
    .task-title {
      padding-right: 2px;
      padding-left: 8px;
      width: 100%;
      display: inline-block;
      overflow-x: hidden;
      overflow-y: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .task-title {
    span {
      padding: 2px;
      // background-color: aquamarine;
      // position: relative;
      // display: inline-block;
      // top: 0;
    }
  }

  .edit-title-input {
    // border: 1px solid ;
    &:focus {
      border: solid 1px $main-gray;
      outline: none;
      padding: 3px;
      margin-left: 4px;
    }
    // width: calc(100% - 34px);
    width: 295px;
  }

  .edit-title-btn {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    color: #676879;
    background-color: none;
    border: none;
    height: 24px;
    // position: absolute;
    left: 0;
    margin-right: 24px;
    border-radius: 4px;
  }
  .start-conversation-container {
    color: $icon-task-gray;
    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &:hover {
    color: $primary-blue;
    .start-conversation-container {
      color: $main-text-gray;
      &:hover {
        color: $primary-blue;
      }
    }
    .edit-title-btn {
      opacity: 1;
      pointer-events: all;
      &:hover {
        background-color: #fefefe;
      }
    }
  }

  .task-menu-arrow {
    position: absolute;
    width: 30px;
    left: -30px;
    height: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;

    .open-context-btn {
      background-color: $main-gray;
      width: 18px;
      height: 18px;
      border-radius: 5px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $main-text-gray;
    }
    // button {
    //   display: flex;
    //   justify-content: space-between;
    // }
    .context-modal {
      left: 0;
      top: 30px;
      width: 120px;
      height: 50px;
      font-size: 14px;
    }
  }
}
