.title-picker {
  cursor: pointer;
  display: flex;
  justify-content: left;
  width: 334px;
  position: relative;
  padding-right: 8px;
  .left-indicator-inner {
    width: 8px;
    display: inline-block;
  }

  .editable-component {
    width: 260px;
    .task-title {
      padding-right: 2px;
      padding-left: 8px;
      width: 100%;
      display: inline-block;
      overflow-x: hidden;
      overflow-y: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .task-title {
    span {
      padding: 2px;
      // background-color: aquamarine;
      // position: relative;
      // display: inline-block;
      // top: 0;
    }
  }

  .edit-title-btn {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    color: #676879;
    background-color: none;
    border: none;
    height: 24px;
    // position: absolute;
    left: 0;
    margin-right: 24px;
    border-radius: 4px;
  }
  .start-conversation-container {
    color: $icon-task-gray;
    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &:hover {
    color: $primary-blue;
    .start-conversation-container {
      color: $main-text-gray;
      &:hover {
        color: $primary-blue;
      }
    }
    .edit-title-btn {
      opacity: 1;
      pointer-events: all;
      &:hover {
        background-color: #fefefe;
      }
    }
  }
}
