.title-picker {
  cursor: pointer;
  display: flex;
  width: 262px;
  position: relative;

  .left-indicator-inner {
    width: 10px;
    background-color: aqua;
    display: inline-block;
  }
  .th-title {
    font-size: 18px;
    text-align: left;
  }

  .task-title {
    padding: 0 0 0 10px;
    width: auto;
    display: inline-block;
  }

  .edit-title-btn {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    color: #676879;
    background-color: none;
    border: none;
    height: 24px;
    border-radius: 4px;
    padding: 2px 8px;
    &:hover {
      background-color: #fefefe;
    }
  }
  .start-conversation-container {
    position: absolute;
    right: 0;
  }
  &:hover {
    color: $title-hover-blue;
    .start-conversation-container {
      color: $main-text-gray;
      &:hover {
        color: $title-hover-blue;
      }
    }
    .edit-title-btn {
      opacity: 1;
      pointer-events: all;
      &:hover {
        background-color: #dcdfec00;
      }
    }
  }
}
