.users {
  text-align: center;
  position: relative;
  width: 100%;
  background: rgb(70, 52, 99);
  background: linear-gradient(
    90deg,
    rgba(70, 52, 99, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 184, 184, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(140, 221, 226, 1) 100%,
    rgba(197, 255, 191, 1) 100%,
    rgba(255, 254, 176, 1) 100%
  );
}
