.board-app-container {
  display: flex;
  width: 100%;

  .bord-header-wrapper {
    width: 100%;
  }

  .main-table {
    padding: 0 30px;
  }

  .board-nav {
    height: 100%;
    width: 254px;
  }

  .board-app {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    width: calc(100vw - 319px);
  }

  .board-header {
    background-color: rgb(255, 255, 255);
  }
}
