.home-page {
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow: auto;
  font-family: Sofia, sans-serif;
  width: 100%;
  background-color: $main-homepage-blue;
  height: 100vh;

  header {
    width: 100%;
    position: fixed;
    left: 66px;
    height: 72px;
    background-color: $main-white;
    display: flex;
    align-items: center;

    .logo-container {
      margin-left: 100px;
      height: 42px;
      display: flex;
      padding: 0 25px;
      flex-basis: 200px;
      align-items: center;
      .logo {
        font-size: 28px;
        letter-spacing: -1.5px;
        font-weight: 950;
        label {
          font-size: 14px;
          font-weight: 550;
          letter-spacing: 0px;
        }
      }
    }
    .nav-home-page {
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .left-nav {
        cursor: pointer;
        margin-left: 80px;
        display: flex;
        flex-basis: 270px;
        justify-content: space-between;
      }
      .right-nav {
        cursor: pointer;
        flex-basis: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 220px;

        .start-btn {
          font-size: 12px;
          letter-spacing: 1px;
          width: 100px;
          height: 30px;
          vertical-align: middle;
          line-height: 30px;
          border-radius: 20px;
          background: linear-gradient(90deg, #5034ff 25.69%, #030303 100%);
          text-align: center;
          color: $main-white;
          cursor: pointer;
          transition: all 1s;

          &:hover {
            // width: 200px;
            color: $main-orange;
          }
        }
      }
    }
    img {
      height: 30px;
      object-fit: contain;
    }
  }

  .main-content {
    margin-top: 150px;
    letter-spacing: 2px;
    color: white;
    font-size: 72px;
    font-weight: 100;
    line-height: 85px;
    text-align: center;

    .big-txt {
      padding: 5px;
    }
    .medium-txt {
      font-size: 24px;
      color: $main-yellow;
      letter-spacing: 0px;
      line-height: 50px;
    }

    .link {
      background-color: aqua;
    }
    .start-btn {
      font-size: 18px;
      letter-spacing: 1px;
      width: 180px;
      margin: auto;
      height: 50px;
      vertical-align: middle;
      line-height: 50px;
      border-radius: 40px;
      background: linear-gradient(90deg, #5034ff 25.69%, #b4b4ff 100%);
      text-align: center;
      cursor: pointer;
      transition: all 1s;

      &:hover {
        width: 200px;
        color: $main-orange;
      }
    }
    .gradient-homepage-bcg {
      height: 100px;
      background: linear-gradient(#07083c, #101049);
    }

    .falling-star {
      height: 1px;
      width: 120px;
      margin: 20px auto;
      background: rgb(70, 52, 99);
      background: linear-gradient(
        90deg,
        rgba(70, 52, 99, 1) 0%,
        rgba(181, 181, 181, 1) 0%,
        rgba(117, 147, 182, 0.5606617647058824) 0%,
        rgba(255, 255, 255, 1) 0%,
        rgba(7, 8, 60, 1) 100%,
        rgba(255, 255, 255, 0.718524855907781) 100%,
        rgba(67, 66, 74, 1) 100%
      );
    }

    .universe-star {
      background-image: url(https://dapulse-res.cloudinary.com/image/upload/Generator_featured%20images/Home%20Page%20-%202022%20Rebrand/parallax/integrations/star.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 20px;
      width: 20px;
      position: absolute;
      z-index: 40;

      &.shining {
        animation: shining infinite 4s;
        animation-timing-function: ease-out;
        height: 10px;
        width: 10px;
      }
      &.shining-delay {
        animation: shining infinite 3s;
        animation-timing-function: ease-out;
        height: 10px;
        width: 10px;
      }

      &.left {
        animation: shining-left 3s infinite;
        animation-timing-function: ease;
      }

      &.right {
        animation: shining-right 4s infinite;
        animation-timing-function: ease-out;
      }
    }

    @keyframes shining-left {
      from {
        left: var(--left);
        top: var(--top);
      }
      to {
        left: 450px;
        top: 550px;
        width: 0px;
        height: 0px;
      }
    }

    @keyframes shining-right {
      from {
        right: 50px;
        top: 400px;
      }
      to {
        right: 300px;
        top: 550px;
        width: 0px;
        height: 0px;
      }
    }

    @keyframes shining {
      50% {
        opacity: 0;
      }
    }
  }

  .main-pic {
    height: 200px;
  }
}
