.kanban-view-container {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 30px;

  .k-list-header {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: rem(16px);
    font-weight: 600;
    justify-content: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .k-task-list {
    max-height: calc(65vh - 50px);
    border: 1px solid $main-gray;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: $main-task-gray;
    min-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
  }
  .task-body {
    border: 1px solid $main-gray;
    background-color: $main-task-gray;
    border-radius: 8px;
    width: 240px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .k-task-title {
      display: flex;
      width: 230px;
      font-size: 13px;
      justify-content: space-between;
      height: 25px;

      > * {
        padding: 7px;
      }
      .word-size {
        width: 150px;
      }
      .priority-picker-col {
        height: 20px;
        width: 60px;
        border-radius: 8px;
        line-height: 20px;
        vertical-align: middle;
        font-size: 12px;
      }
    }
  }

  .k-task-card {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    width: 225px;

    .member-picker {
      display: flex;
    }
  }

  img {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 20px;
    object-fit: contain;
    margin: 0 -7px;
  }
}
