.task-details{
    background-color: rgb(218, 171, 228);
    height: 100vh;
    width: 700px;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    header{
        text-align: left;
        margin: 20px 20px 6px 24px;


    .title-wrapper{
        display: flex;
        align-items: center;
        .title{
            width: 100%;
        }
        .members{
            margin-right: 12px;
            padding-right: 16px;
            padding: 0 10px;
            display: flex;
            .member-preview {
                padding: 4px 8px;
                align-items: center;
                line-height: 20px;
                vertical-align: middle;
                
                &:hover {
                    background-color: $primary-blue;
                    border-radius: 5px;
                }
                
                img {
                    height: 30px;
                    width: 30px;
                    border: 2px solid white;
                    border-radius: 20px;
                    object-fit: contain;
                    margin: 0 -4px;
                }
                }
            }
        }
    }

    nav{
        .btn-wrapper{
            display: flex;
            justify-content: space-between;
            padding: 0 24px;
        }
    }
}