// colors
$orange-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;

// animation
$transition: 0.2s ease-in-out;

// break points
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

// positions - flex / grid
$justify-positions: (
  "justify-center": center,
  "justify-between": space-between,
  "justify-around": space-around,
);

$items-positions: (
  "items-center": center,
  "items-start": flex-start,
  "items-end": flex-end,
);

$sizes: (
  "1": 0.5rem,
  "2": 1rem,
  "3": 2rem,
  "4": 4rem,
  "5": 5rem,
);
