// colors
$main-red: #e2445c;
$main-orange: #fdab3d;
$main-pink: #faa1f1;
$main-green: #00c875;
$main-gray: #c4c4c4;
$main-blue: #4eccc6;
$primary-blue: #0073ea;
$primary-blue-hover: #0060b9;
$main-white: white;
$main-border: #e6e9ef;
$grey-background-color: #f6f7fb;
$main-text-gray: #323338;
$main-nav-dark-blue: #1c1f3b;
$main-nav-dark-blue-hover: #10131e;
$primary-hover-gray-button: #dcdfec;

// animation
$transition: 0.2s ease-in-out;

// break points
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

// positions - flex / grid
$justify-positions: (
  "justify-center": center,
  "justify-between": space-between,
  "justify-around": space-around,
);

$items-positions: (
  "items-center": center,
  "items-start": flex-start,
  "items-end": flex-end,
);

$sizes: (
  "1": 0.5rem,
  "2": 1rem,
  "3": 2rem,
  "4": 4rem,
  "5": 5rem,
);
